.leaderboard-tile {
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: cornsilk;
  text-align: center;
  color: black;
  border: 1px solid black;
}

.leaderboard-tile-name {
  flex: 2;
  text-align: left;
}

.leaderboard-tile-rank {
  flex: 1;
}

.leaderboard-tile-team {
  flex: 1;
}

.leaderboard-tile-points {
  flex: 1;
}
