body {
  font-family: garamond, serif;
  position: relative;
}

.bg-green {
  background-color: #4bb069;
}

.bg-cream {
  background-color: #fffdf6;
}

.green-text {
  color: #4bb069;
}

.cream-text {
  color: #fffdf6;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text-container {
  flex: 1;
  padding: 3vw;
}

.header-text {
  font-weight: 700;
  font-size: 4vw;
  line-height: 1.25;
}

.slideshow-container {
  margin: 4vw;
  overflow: hidden;
  text-align: center;
}

.slideshow-container img {
}

.topic-tiles {
  display: flex;
  justify-content: center;
}

.left-arrow {
  text-align: center;
  color: #4bb069;
  font-weight: 900;
  font-size: 22px;
  width: 52px;
  height: 50px;
  line-height: 44px;
  margin: 0 2rem;
  border: 1px solid #4bb069;
  border-radius: 50%;
}

.left-arrow:hover {
  background-color: #4bb069;
  border: 1px solid white;
  color: #fffdf6;
}

@media only screen and (max-width: 800px) {
  .banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-text {
    font-size: 7vw;
  }
  .slideshow-container {
    width: 80vw;
    height: 40vh;
    flex: 1;
    margin: 2rem auto;
  }
  .topic-tiles {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .header-text-container {
    flex: 1;
  }

  .header-text {
    font-size: 10vw;
  }

  .slideshow-container {
    flex: 1;
    width: 95vw;
    height: 30vh;
    margin: 1rem auto;
  }
  .left-arrow {
    text-align: center;
    color: #4bb069;
    font-weight: 900;
    font-size: 22px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 0rem;
    border: none;
  }
  .left-arrow:hover {
    background-color: #fffdf6;
    color: #4bb069;
  }
}
