.rdv_banner_qc{
    border-radius: 50%;
    height: 100px;
    margin: 0 1rem;
}

.rdv_banner_logo{
    height: 100px;
    margin: 0 1rem;
}

@media only screen and (max-width: 600px) {
    .rdv_banner_qc{
        border-radius: 50%;
        height: 60px;
        margin: 0 0.5rem;
    }
    
    .rdv_banner_logo{
        height: 62px;
        margin: 0 0.5rem;
    }
    
  }