body {
  overflow-x: hidden;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0 0;
}

.team-container h2 {
  font-size: 2rem;
}

.team-group-picture img {
  width: 70vw;
  margin: 0 auto;
}

.about-text {
  font-size: 22px !important;
}

@media only screen and (max-width: 500px) {
  .team-group-picture img {
    width: 80vw;
  }
  .team-container h2 {
    font-size: 1.5rem;
  }
  .about-text {
    padding-top: 0 !important;
    font-size: 20px !important;
  }
}

.avatar {
  border-radius: 50%;

  width: 250px;
}
