
.calendar-card {
    margin:25px;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    display: inline-block;
    height: 480px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .calendar-card-inner {
    position: relative;
    width: 320px;
    height: 480px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal calendar when you move the mouse over the calendar box container */
  .calendar-card:hover .calendar-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .calendar-card-front, .calendar-card-back {
    position: absolute;
    width: 320px;
    height: 480px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .calendar-card-front {
    background-color: #4BB069;
    color: white;
    padding:28% 0.2rem 0.2rem 0;
    
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    }

    .transparent-box{
      background-color: #fff;
      opacity: 0.6;
    }
  
  /* Style the back side */
  .calendar-card-back {
    background-color: #4BB069;
    color: white;
    transform: rotateY(180deg);
    padding:28% 0.2rem 0.2rem 0;
  }