
.flip-poster {
    margin:10px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 150px;
    display: inline-block;
    height: 180px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  @media only screen and (min-width: 500px) {
    .flip-poster{
      width: 220px;
      height: 280px;
      margin: 10px 10px 10px 25px;
    }
  }
  
  /* This container is needed to position the front and back side */
  .flip-poster-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-poster:hover .flip-poster-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-poster-front, .flip-poster-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-poster-front {
    background-color: #4BB069;
    color: white;
    padding:28% 0.2rem 0.2rem 0;
    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2eerAsftnzti_it7Nbry2Vy0v1e4MTHA02IFCL34uquLlXRCj0Gv2PfgmLbg_3pjOQQ04FFsHO3p5g9w3Kxe5LYTENOLy6DQ&usqp=CAU&ec=45730948");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    }

    .transparent-box{
      background-color: #fff;
      opacity: 0.6;
    }
  
  /* Style the back side */
  .flip-poster-back {
    background-color: #4BB069;
    color: white;
    transform: rotateY(180deg);
    padding:28% 0.2rem 0.2rem 0;
  }