.footer {
  background-color: black;
  width: 100vw;
  color: white;
  padding: 3rem 2rem 3rem 2rem;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.footer a {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  letter-spacing: 0.5mm;
}

.container-centered {
  align-items: center;
}

.container p {
  margin-bottom: 0.5rem;
}

.footer-logo {
  height: 150px;
  width: 150px;
  margin-bottom: 1rem;
  border-radius: 50%;
}

@media only screen and (max-width: 900px) {
  .footer {
    padding: 3rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .footer a {
    font-size: 14px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .footer-logo {
    height: 80px;
    width: 80px;
  }
  .container p {
    margin-bottom: 0.25rem;
  }
  .footer-credits {
    margin-top: 1rem;
    text-align: center;
  }
}
