html {
	/* Blue-light green
	background: #c2e59c; 
	background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
	background: linear-gradient(to right, #64b3f4, #c2e59c);
	*/

	/* Friday blue
	background: #83a4d4; 
	background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  
	background: linear-gradient(to right, #b6fbff, #83a4d4); 
	*/

	/* Shore */
	/* background: #70e1f5; 
	background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  
	background: linear-gradient(to right, #ffd194, #70e1f5); */

	background: #FFFDF6; 
	

}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

