.navbar-logo {
  border-radius: 50%;
  width: 50px;
}

.navbar-bars {
  display: none;
}

.navbar-links p {
  cursor: pointer;
  display: inline-block;
  margin: auto 1rem;
}

.navbar-links p:hover {
  color: green;
  font-size: 1.5%;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 2rem;
  }

  .navbar-links p {
    display: none;
  }
  .navbar-logo {
    float: left;
    display: inline;
  }
  .navbar-bars {
    display: inline-block;
    cursor: pointer;
  }
  .responsive {
    float: none;
    display: block !important;
    text-align: left;
  }
}
