.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

@font-face{
	font-family: 'Raleway';
	src: local('Raleway-VariableFont_wght'), url(./fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

html {
	background-color: white;
	font-family: 'Raleway', sans-serif;
}

.slider {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	margin: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}